# Compiled executables (rebuild from source)
/playground
/mini_program_c/leer_stdin
/learning-c/app
/learning-c/args
/massive_communication/number-formatter
/massive-communication_course/number_formatter
/massive-communication_course/dest.txt
